.App {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.col-1-3 {
  width: 33.33%;
  flex: 1 0 33.33%;
}

.navbar {
  background-color: #f7f7f7;
}

.main-bg {
  margin-bottom: 50px;
  height: 400px;
  background: url("./img/main.jpg") no-repeat center/cover;
}
