.App {
  text-align: center;
}

.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.8s;
}

.navbar {
  background-color: #f7f7f7;
}

.main-bg {
  margin-bottom: 50px;
  height: 400px;
  background: url("./img/main.jpg") no-repeat center/cover;
}

.watched {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #ddd;
  width: 130px;
  background-color: #fff;
  padding: 10px;
}
.watched h4 {
  font-size: 16px;
  font-weight: bold;
}
.watched p {
  /* margin-top: 10px; */
  word-break: keep-all;
}

.watched img {
  margin-top: 10px;
}
